@page "/projects"

<BasePage ShowSideNav="false">

    <Content>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Projects)
                {
                    <tr>
                        <td>
                            <NavLink class="nav-link" href=@($"project/{project.Name}")>
                                @project.Name
                            </NavLink>
                        </td>
                        <td>
                            <button @onclick="@(() => DeleteProject(project))" type="button" class="btn btn-sm btn-danger" aria-label="error">

                                <clr-icon shape="error-standard"></clr-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <BSButton Color="Color.Primary" OnClick="@OpenNewProjectDialog">Create New Project</BSButton>
        <BSModal @ref="NewProjectModal">
            <BSForm Model="@NewProjectModel" ValidateOnInit="false" OnValidSubmit="@OnNewProjectFormSubmit">
                <DataAnnotationsValidator />
                <BSModalHeader OnClick="@CloseNewProjectDialog">Create new project</BSModalHeader>
                <BSModalBody>
                    <BSFormGroup>
                        <BSLabel For="ProjectName">Project Name</BSLabel>
                        <BSInput InputType="InputType.Text" Id="ProjectName" @bind-Value="@NewProjectModel.ProjectName" ValidateOnChange="true"></BSInput>
                        <BSFormFeedback For="@(() => NewProjectModel.ProjectName)" IsTooltip="true" ValidMessage="This is a valid project name." />
                    </BSFormGroup>
                </BSModalBody>
                <BSModalFooter>
                    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Create</BSButton>
                    <BSButton Color="Color.Secondary" OnClick="@CloseNewProjectDialog">Cancel</BSButton>
                </BSModalFooter>
            </BSForm>
        </BSModal>
    </Content>

    <Title>Projects</Title>

</BasePage>

@code {

}