@page "/project/{ProjectName}"
@namespace XTMF2.Web.Pages
<BasePage ShowSideNav="false">
    <Content>
        @if (Project != null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Model System</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var modelSystem in ModelSystems)
                    {
                        <tr>
                            <td>
                                <NavLink class="nav-link" href=@($"/ModelSystem/{Project.Name}/{modelSystem.Name}")>
                                    @modelSystem.Name
                                </NavLink>
                            </td>
                            <td>
                                @modelSystem.Description
                            </td>
                            <td>
                                <button @onclick="@(() => DeleteModelSystem(modelSystem))" type="button" class="btn btn-sm btn-danger" aria-label="error">

                                    <clr-icon shape="error-standard"></clr-icon>
                                    Delete
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <InputRequestDialog @ref="InputDialog" DialogTitle="Test" InputName="Model System Name" OnSubmit="@NewModelSystemSubmit"></InputRequestDialog>
            <BSButton Color="Color.Primary" OnClick="@(() => InputDialog.Show())">+ New Model System</BSButton>
        }
        else
        {
            <BSAlert Color="Color.Danger">
                The project was not loaded or could not be found.
            </BSAlert>
        }

    </Content>
    <Title>Project - @ProjectName</Title>
</BasePage>

@code {
}